{% extends 'base.html'%}

{% block content %}
<!DOCTYPE>
  <div class="about-me container">
    <h2>About me
        ::befor 
    </h2>
    <p>I'm JinHee Park</p>
  </div>

  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="" class="img-fluid" alt>
    </div>
    <!--description-->
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-right">
      <h3>I want to be a cat</h3>
      <br>
      <br>
      <div class="row">
          <ul>
            <li>
              <i class="bi bi-chevron-right">::befor</i>
              <strong>Name:</strong>
              <span>daldaguri</span>
            </li>
            <li><i class="bi bi-chevron-right">::befor</i>
                <strong>Birthday:</strong>
                <span>1 may 1999</span>
            </li>
            <li><i class="bi bi-chevrom-right">::befor</i>
              <strong>Education:</strong>
              <span>Sejong University</span>
            </li>
            <li><i class="bi bi-chevrom-right">::befor</i>
              <strong>Department:</strong>
              <span>Computer Science</span>
            </li>
            <li><i class="bi bi-chevrom-right">::befor</i>
              <strong>Team:</strong>
              <span>SSG</span>
            </li>
          </ul>
      </div>
      <p class="fst-italic">
        Just do it
        If you can't, cry
        And do it again
      </p>
    </div>
  </div>


  <!--skills-->

{%endlock%}


